<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Profe te queremos :3</title>
</head>

<body>
  <div class="contenedorGlobal">


    <% include partials/head.html%>
    <% include partials/navigation.html%>

    <style>
      body {
        /*font-family: 'Spici'
      font-family: 'Notable', sans-serif;*/
        font-family: 'Crimson Pro', serif;
        font-size: 25px;
        
      }
    </style>


    <!-- section one -->
    <div class="contenedor">
      <div class="row p-5 text-center" style="color: white" style="background-image: url(img/bg.jpg)">

        <div class="col-sm-6">
          <img src="img/inicio.jpg" width="400" height="400" class=" w-10s animated rollIn" id="inicio">
        </div>

        <div class="col-sm-6">
          <br><br><br><br><br>
          <h1>Experimento de Física</h1>

          <p>
            <span>Audición :3</span>
          </p>
        </div>

      </div>
    </div>



    <!-- section esteban -->
    <div class="contenedor1">
        <div class="row  text-white p-5 text-center">
            <div class="col-sm-6">
                <br><br><br>
                <h1 class="w-10s animated bounceInRight" style="color: white">Ondas Sonoras</h1>
              </div>
              <div class="col-sm-6">
                <img src="img/esteban.png" width="400" height="400" class=" w-10s animated rollIn" id="esteban">
              </div>
        </div>
      </div>
  
      
      <div class="contenedor2">
  
        <div class="row  text-white p-5 text-left">
            <div class="col-sm-6">
                
                <img src="img/esteban2.jpg" width="400" height="400" class=" w-10s animated rollIn" id="esteban">
              </div>
              <div class="col-sm-6">
                  <br><br><br><br>
                  <p>Una onda sonora es una onda longitudinal que transmite lo que se asocia con sonido. <br>
                  Las variaciones de presión, humedad o temperatura del medio, producen el desplazamiento de las moléculas que lo forman.
                  </p>
              </div>
        </div>
  
      </div>

      
    <!-- section maya -->
    <div class="contenedor1">
        <div class="row  text-white p-5 text-center">
          <div class="col-sm-6">
            <br><br><br><br><br><br>
            <h1 class="w-10s animated bounceInRight" style="color: white">Ondas Gamma</h1>
          </div>
          <div class="col-sm-6">
            <img src="img/maya.jpg" width="400" height="400" class=" w-10s animated rollIn" id="maya">
          </div>
        </div>
      </div>
  
     
  
  
      <div class="contenedor2" id="introMaya">
  
        <div class="row  text-white p-5 text-left">
          <div class="col-sm-6 w-10s animated bounceInLeft">
              <img src="img/juaneskappa.png.jpg" width="400" height="400" class=" w-10s animated rollIn" id="maya">
          </div>
          <div class="col-sm-6 w-10s animated bounceInRight">
            <p style="color:white">
              <br><br>
              El desarrollo de los registradores digitales de EEG (electroencefalografía). <br>
              Se logra mayor pensamiento mental, mayor felicidad, mejor percepción de la realidad, enfoque increíble, mejor autocontrol y mejor experiencia sensorial. <br>
              La onda gamma se origina en el tálamo. <br> 
              Una forma de aumentar el  estado gamma es en la meditación
              
          </div>
  
          
  
      </div>





    <!-- section juanes -->
    <div class="contenedor1">
      <div class="row  text-black p-5 text-center">
        <div class="col-sm-6">
          <img src="img/juaneskappa.png" width="400" height="400" class=" w-10s animated rollIn" id="juanes">
        </div>
        <div class="col-sm-6">
          <br> <br> <br>
          <h1 class="w-10s animated bounceInRight" style="color: white">Ver bien para oír mejor : la relación visión y
            audición</h1>
        </div>
      </div>
    </div>


    <div class="contenedor2">

      <div class="row  text-white p-5 text-left">
        <div class="col-sm-6 w-10s animated bounceInLeft">
          <img src="img/juaneskappa.jpg" width="400" height="400" class=" w-10s animated rollIn" id="juanes">
        </div>
        <div class="col-sm-6 w-10s animated bounceInRight">
          <p style="color:white">
            <br><br>
            Científicos de UCLA demostraron que nuestra visión y audición no son tan confiables como
            creemos cuando trabajan de manera individual. <br> Esto lo pudieron comprobar mediante un estudio
            en el cual pidieron a las personas localizar en una pantalla negra de dónde provenía un destello
            de luz y un sonido de manera independiente. <br> Las personas cometieron muchos errores localizando la
            luz más al centro de dónde realmente estaba y el sonido más a la periferia de la pantalla. <br>
            Sin embargo, cuando se tenía que localizar el sonido y la luz simultáneamente, provenientes
            del mismo lugar, los sujetos tuvieron mucho más éxito.
        </div>

        <div>
          <div></div>
          <div class="col-sm-6 w-10s animated bounceInRight">
            Esto sugiere que nuestro cerebro está organizado para interpretar mejor los estímulos cuando recibe
            información de todos los sentidos. Si algún sentido está dañado, entonces el cerebro aprovecha los otros
            para que así podamos desempeñarnos adecuadamente. De ahí la frase “necesito mis lentes para oír mejor”.

          </div>
        </div>

      </div>






      <% include partials/footer.html%>

      <!--===============================================================================================-->
      <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/animsition/js/animsition.min.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/bootstrap/js/popper.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/select2/select2.min.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/daterangepicker/moment.min.js"></script>
      <script src="vendor/daterangepicker/daterangepicker.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/countdowntime/countdowntime.js"></script>
      <!--===============================================================================================-->
      <script src="js/main.js"></script>


</body>

</html>